# macOS
.DS_Store

# Node.js
node_modules/
package-lock.json

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/local-plugins.sbt
.history
.ensime
.ensime_cache/
.sbt-scripted/
local.sbt

# Bloop
.bsp

# VS Code
.vscode/

# Metals
.bloop/
.metals/
metals.sbt

# IDEA
.idea
.idea_modules
/.worksheet/

# Scala specific
*.class
*.log
*.tasty

# OCaml specific
*.cmo
*.cmi
*.cmx
*.cmxa
*.cma
*.a
*.o
*.so
*.annot
*.spot
*.spit
*.cmt
*.cmti
*.cmxs
.merlin
_build/
_opam/
*.native
!Dockerfile.native
*.byte
*.opt
.ocamlinit.local

# Temp folder
/temp/
/temp/*
private-docs/*

# npm
.vite/
node_modules/